/*Responsive menu*/
.mobile-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile-menu-logo a>img {
    width: 117px;
}

.slicknav_menu {
    background: transparent;
    padding: 0;
    position: relative;
}
.slicknav_menu .slicknav_icon-bar {
    background-color: #2FBF9E;
}
.slicknav_btn{
    margin: 0;
}
a.slicknav_btn.slicknav_collapsed {
    margin: 0;
    background: transparent;
    padding: 18px 0;
}

a.slicknav_btn.slicknav_open {
    background: transparent;
    padding: 18px 0;
}

ul.slicknav_nav {
    position: absolute;
    right: 0;
    top: 53px;
    background: #fff;
    z-index: 9999999;
    width: 250px;
    border: 1px solid #f1f1f1;
    border-top: 0;
    max-height: 384px;
    overflow: hidden;
    overflow-y: auto;
}

span.slicknav_menutxt {
    display: none!important;
}
.slicknav_menu .slicknav_icon-bar {
    background-color: #2FBF9E;
}
ul.slicknav_nav li a {
    margin: 0;
    color: #000;
    padding: 13px;
}

ul.slicknav_nav li {
    border-bottom: 1px solid #f1f1f1;
}
ul.slicknav_nav li:last-child {
    border: 0;
}
.slicknav_nav .slicknav_row, .slicknav_nav a {
    padding: 13px;
    margin: 0;
}
.slicknav_nav .slicknav_arrow {
    display: none;
}

ul.slicknav_nav li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.slicknav_nav .slicknav_row:hover {
    border-radius: 0;
    background: #2DBC9B;
    color: #fff;
}

a.slicknav_item.slicknav_row {
    padding: 0;
}
.slicknav_nav .slicknav_item a, .slicknav_nav .slicknav_parent-link a {
    padding: 13px;
    margin: 0;
    display: flex;
    border-radius: 0;
}
.slicknav_nav a:hover {
    border-radius: 0;
}
ul.slicknav_nav li:last-child {
    border: 0;
}

.slicknav_parent ul.dorp-menu li a {
    color: #000!important;
}

.slicknav_parent ul.dorp-menu {
    position: relative;
    visibility: visible;
    opacity: 1;
    top: 0;
    box-shadow: none!important;
    transition: none;
    background: #dddddd26;
}

.mobile-menu-link a {
    color: #000;
    padding: 7px;
}

.mobile-menu-link {
    display: flex;
    align-items: center;
    gap: 9px;
}
/* For 767 Resolution */
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {


}

/* For 1024 Resolution */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {


}

/* For 1366 Resolution */
@media only screen and (min-width: 1030px) and (max-width: 1366px) {}

@media only screen and (min-width: 1367px) {}

/* If you're looking to supply different graphics or choose different typography for the lower resolution iPad display, the media queries below will work. */
/* Orientation : Landscape */
@media only screen and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 1) and (min-device-width : 768px) and (max-device-width : 1007px) {}

@media only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 2) {}

@media only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 3) {}
